body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  height: 40px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 40px;
  cursor: pointer;
}

.square:focus {
  outline: none;
}

.game {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.game-info {
  margin-left: 20px;
}

.game-info li {
  margin-bottom: 5px;
}

.game-info button {
  padding: 3px 8px;
  cursor: pointer;
}